.searchediv {
  display: flex;
}
.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  height: 250px;
  width: 900px;
  top: 20vh;
  left: calc(50% - 15rem);
}
.modal input {
  margin-bottom: 20px;
  width: 350px;
  border: 2px solid rgb(218, 215, 215);
}

.cancelbtn {
  margin-right: 10px;
}
