.fullloginpage {
  background-color: #ebf5fb;

  align-items: center;
  padding-top: 70px;
  width: 100%;
  height: 500px;
  display: flex;
}

.child_phone {
  float: left;

  margin-top: -115px;
  height: 100%;
  margin-right: 0px;
}
.logoimage img {
  margin-left: 5px;
  width: 800px;
  height: 400px;
}
.wrapper {
  margin-right: 10px;
  margin-top: 20px;
  margin-left: 80px;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
  width: 350px;
  height: 400px;
  border-radius: 10px;
}

.fulcontainer {
  background-color: #f2f2f2;
  width: 100%;
}

.wrapper h1 {
  margin-top: 20px;
  font-size: 36px;
  text-align: center;
  color: #010f0f;
}

.logininput div {
  padding: 7px;
}
.wrapper button {
  width: 80%;
  height: 45px;

  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, -1);
  cursor: pointer;
  font-size: 16px;

  font-weight: 700;
}
.wrapperregisterlink {
  text-align: center;
  margin-top: 20px;
}
.registertbn button {
  border: 2px solid rgba(206, 139, 139, 0.2);
  background-color: #50c878;
  color: white;
  margin-left: 35px;
}
.password_div {
  display: flex;
}
.password_div button {
  width: 20px;
  height: 20px;
}
.abounementdiv {
  width: 100%;
  height: 600px;
  background-color: rgb(228, 224, 235);
}

.buttoncontainer {
  margin-top: 50px;
}
.button_instagram {
  display: block;
  width: 130px;
  max-width: 100%;
  margin-left: 80px;
  overflow: hidden;
  position: relative;
  transform: translatez(0);
  text-decoration: none;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: normal;
  box-shadow: 0 9px 18px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 50px;
  padding: 10px;
  color: white;
  background: #bd3381;
  transition: all 0.2s ease-out 0s;
}

.gradient {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: auto;
  margin: auto;
  z-index: -1;
  background: radial-gradient(
    90px circle at top center,
    rgba(238, 88, 63, 0.8) 30%,
    rgba(255, 255, 255, 0)
  );
  transition: all 0s ease-out 0s;
  transform: translatex(-140px);
  animation: 18s linear 0s infinite move;
}

@keyframes move {
  0% {
    transform: translatex(-140px);
  }
  25% {
    transform: translatex(140px);
    opacity: 0.3;
  }
  50% {
    transform: translatex(140px);
    opacity: 1;
    background: radial-gradient(
      90px circle at bottom center,
      rgba(238, 88, 63, 0.5) 30%,
      rgba(255, 255, 255, 0)
    );
  }
  75% {
    transform: translatex(-140px);
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translatex(-140px);
    background: radial-gradient(
      90px circle at top center,
      rgba(238, 88, 63, 0.5) 30%,
      rgba(255, 255, 255, 0)
    );
  }
}
.registertbn button {
  background-color: #50c878;
  color: white;
  margin-left: 35px;
}
/**********phone***************/

.goatimage_phone img {
  width: 85%;
  height: 180px;
}

/*******************************/
.cardphone {
  width: 90%;
  margin-left: 20px;
}

.fullloginpagephone {
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
  height: 250px;
}

.cardtitlephone {
  font-size: 25px;
}
.AbounementPhone {
  padding-top: 10px;
  width: 100%;
}
.cardtextphone {
  color: #0047ab;
}

.fullloginpagephone {
  width: 100%;
  padding-top: 10px;
  margin-bottom: 30px;
  margin-left: 20px;
  height: 200px;
  margin-bottom: 120px;
}

.wrapperphone {
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
  width: 90%;

  border-radius: 10px;
}

.wrapperphone h1 {
  margin-top: 20px;
  font-size: 36px;
  text-align: center;
  color: #010f0f;
}

.logininputphone div {
  padding: 7px;
}
.password_div_phone {
  display: flex;
}
.password_div_phone button {
  width: 20px;
  height: 30px;
  background-color: transparent;
  border: 0px solid transparent;
}
.wrapperregisterlinkphone button {
  width: 80%;
  height: 45px;

  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, -1);
  cursor: pointer;
  font-size: 16px;

  font-weight: 700;
}
.wrapperregisterlinkphone {
  text-align: center;
  margin-top: 20px;
}
.registertbn_phone button {
  border: transparent;
  margin-left: 75px;
  padding-bottom: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
