.addingdiv {
  width: 100%;
  margin: auto;
  height: 750px;
  border: 1px solid (240, 240, 240);
  background-color: rgb(220, 220, 220);
  position: relative;
  display: "flex";
  padding-top: 20;
}

.addingdiv label {
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.affichage {
  width: 500px;
  margin: auto;
}
.child {
  display: inline-block;
  vertical-align: middle;
}

.selectqcm {
  width: 300px;
  position: relative;
  background-color: rgb(185, 58, 58);
}
