.addingdiv {
  width: 100%;
  overflow: hidden;
  border: 1px solid (240, 240, 240);
  background-color: rgb(240, 240, 240);
  display: flex;
}
.sidebare {
  width: 200px;
  display: inline-block;
  position: absolute;
}
.contanerspace {
  position: absolute;
  display: inline-block;
  margin-left: 300px;
  margin-top: 20px;
}
.addingdiv label {
  color: black;
  font-weight: bold;
  font-size: 25px;
}
.body {
  margin: 0;

  font-size: 21px;
  background: #fff;
  color: #000;
  font-family: "Poppins", sans-serif;
}
.card {
  background: #000046;
  background: -webkit-linear-gradient(to right, #1cb5e0, #000046);
  background: linear-gradient(to right, #1cb5e0, #000046);
  border-radius: 24px 24px 24px 48px;
  padding: 48px 48px 48px 308px;
  margin: 84px 0;
  min-width: 640px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  position: relative;
  box-shadow: 5px 0 0 0 rgba(204, 204, 204, 0.3),
    -5px 0 0 0 rgba(204, 204, 204, 0.3), 0 5px 0 0 rgba(204, 204, 204, 0.3);
}

.text_content {
  display: flex;
  flex-direction: column;
  width: calc(60vw - 192px);
}
.text_content h3 {
  margin: 0;
  font-size: 1.5em;
  max-width: 20ch;
  color: #fff;
}
.text_content p {
  margin: 25px 0 24px;
  color: #fff;
}

.text_content a {
  border: 3px solid #f2f2f2;
  color: #ffffff;
  align-self: flex-start;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 12px;
  transition: 400ms all;
}

.text_content a:hover {
  background: #051c5e;
  color: white;
}

.visual {
  width: 240px;
  height: 100%;
  position: absolute;
  top: -24px;
  left: 24px;
  overflow: hidden;
  border-radius: 24px;
}
.visual img {
  height: 110%;
}
.article {
  margin: auto;
  display: block;
  width: calc(60vw + 248px);
  max-width: calc(920px + 248px);
  min-width: calc(640px + 248px);
}

@media all and (max-width: 1100px) {
  .body {
    padding: 96px 48px 24px;
  }
  .article {
    width: 100%;
    min-width: 100%;
  }
  .card {
    min-width: 100%;
  }
  .text_content {
    width: 100%;
  }
}

@media all and (max-width: 720px) {
  .body {
    padding: 48px 24px 0;
  }
  .card {
    margin: 64px 0;
    padding: 88px 36px 36px;
    flex-direction: column;
    border-radius: 24px;
  }
  .text_content h3 {
    max-width: calc(100% - 150px);
    font-size: 1em;
  }
  .card .text_content p,
  .card .text_content a {
    font-size: 0.8em;
  }
  .visual {
    width: 150px;
    height: 150px;
    right: 16px;
    left: auto;
    border-radius: 50%;
  }
  .visual img {
    width: 100%;
    height: auto;
  }
}

/*****phone**************************************/
.contanerspace_phone {
  position: absolute;
  display: inline-block;
}

.card_phone {
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  background: #000046;
  background: -webkit-linear-gradient(to right, #1cb5e0, #000046);
  background: linear-gradient(to right, #1cb5e0, #000046);
  border-radius: 24px 24px 24px 48px;

  min-width: auto;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  position: relative;
  box-shadow: 5px 0 0 0 rgba(204, 204, 204, 0.3),
    -5px 0 0 0 rgba(204, 204, 204, 0.3), 0 5px 0 0 rgba(204, 204, 204, 0.3);
}

.text_content_phone {
  display: flex;
  flex-direction: column;
  width: calc(60vw - 192px);
}
.text_content_ul_phone li {
  background-color: transparent;
  color: #f2f2f2;
}
.text_content_phone h3 {
  padding-top: 15px;
  font-size: 1.5em;
  max-width: 20ch;
  color: #fff;
}
.text_content_phone p {
  margin: 25px 0 24px;
  color: #fff;
}

.text_content_phone a {
  border: 3px solid #f2f2f2;
  color: #ffffff;
  align-self: flex-start;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 12px;
  transition: 400ms all;
}

.text_content_phone a:hover {
  background: #051c5e;
  color: white;
}

.visual_phone {
  width: 50px;
  height: 100%;
  position: absolute;
  top: -24px;
  left: 24px;
  overflow: hidden;
  border-radius: 24px;
}
.visual_phone img {
  height: 110%;
}
.article_phone {
  margin: auto;
  display: block;
  width: calc(60vw + 248px);
  max-width: calc(920px + 248px);
  min-width: calc(640px + 248px);
}

@media all and (max-width: 1100px) {
  .body_phone {
    padding: 96px 48px 24px;
  }
  .article_phone {
    width: 100%;
    min-width: 100%;
  }
  .card_phone {
    min-width: 100%;
  }
  .text_content_phone {
    width: 100%;
  }
}

@media all and (max-width: 720px) {
  .body_phone {
    padding: 48px 24px 0;
  }
  .card_phone {
    margin: 64px 0;
    padding: 88px 36px 36px;
    flex-direction: column;
    border-radius: 24px;
  }
  .text_content_phone h3 {
    max-width: calc(100% - 150px);
    font-size: 1em;
  }
  .card_phone .text_content_phone p,
  .card_phone .text_content_phone a {
    font-size: 0.8em;
  }
  .visual_phone {
    width: 150px;
    height: 150px;
    right: 16px;
    left: auto;
    border-radius: 50%;
  }
  .visual_phone img {
    width: 100%;
    height: auto;
  }
}
